

<header>
	<h3>Laalsa Task</h3>
  <div class="logout-btn">
  <button (click)="logout()">Logout</button>
  </div>
</header>
<div class='container'>

<div *ngFor="let item of RestaurantData">
	<div *ngIf="item.customerStatus" class='card1'>
		<h4 class='card-header'><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Customer Information</h4>
		<div class='card-content'>
      <p><b>Name. : </b><span> {{item.customerStatus.customerName}}</span></p>
      <p><b>Phone No. : <span> {{item.customerStatus.phoneNo}}</span></b></p>
      <p><b>Email :</b><span> {{item.customerStatus.emailId}}</span></p>
			<p><b>Address :</b> <span> {{item.customerStatus.address.fullAddress}}</span></p>
		</div>
	</div>

	<div class='card2' *ngIf="item.orderDate">
    <h4 class='card-header'>Order Date <span class="right">{{item.orderDate | date }}</span></h4>
		<div class='card-content'>
      <p><i class="fa fa-calculator" aria-hidden="true"></i>&nbsp;<b>Order Details</b></p>
      <div class="content-data">
        <div class="row" *ngFor="let orderDetail of item.orderDetails">
        <div class="column left">{{orderDetail.orderName}}</div>
        <div  class="column mid"> {{orderDetail.quantity}} </div>
        <div class="column right">{{orderDetail.value}}</div>
        </div>
    </div>
		</div>
	</div>

	<div class='card3' *ngIf="item.restaurantStatus">
		<h4 class='card-header'><i class="fas fa-hotel"></i>&nbsp;{{item.restaurantStatus.outletName}}({{item.restaurantStatus.locality}})</h4>
		<div class='card-content'>
      <p><b>Phone No. :<span> {{item.restaurantStatus.mobile}}</span></b></p>
      <p><b>Alternate No. : <span> {{item.restaurantStatus.mobile2}}</span>,  <span> {{item.restaurantStatus.mobile3}}</span></b></p>
      <p><b>Email :</b><span> {{item.restaurantStatus.email}}</span></p>
			<p><b>Address : </b> {{item.restaurantStatus.address.addressLine}}</p>
      <div class="card-btn">
      <button>Update Contact</button>
     </div>
		</div>
	</div>

</div>
</div>
